<div class="filters">
  <div class="filters_categories">
    <span class="filters_categories__title">Posts categories</span>
    <div class="filters_categories__items">
      <button class="filters_categories__items__item" (click)="filterByCategory('Angular')">Angular</button>
      <button class="filters_categories__items__item" (click)="filterByCategory('React')">React</button>
      <button class="filters_categories__items__item" (click)="filterByCategory('Vue')">Vue</button>
      <button class="filters_categories__items__item" (click)="filterByCategory('Else')">Else</button>
    </div>
  </div>
  <div>
    <input class="search-bar" type="text" placeholder="Search post" [(ngModel)]="searchTerm"
           (ngModelChange)="searchPosts()">
  </div>
  <button class="reset-btn" (click)="resetFilter()">Reset all filters</button>
</div>
<a class="post" *ngFor="let post of postsData" (click)="goToPost(post.postId)">
  <h2 class="post_title">{{ post.postTitle }}</h2>
  <img class="post_img" src="{{post.postImg}}" alt="postImg">
</a>

